@page "/"


<h1>Setting PageTitle at runtime</h1>
<h3>Success Criteria: the browser tab should display "Book 1837635870"</h3>
<ul>
    <li><a href="/sample1">SSR  (OK)</a></li>
    <li><a href="/sample2">SSR with Streamrendering  (NO)</a></li>
    <li><a href="/sample3">RenderMode Server (OK)</a></li>
    <li><a href="/sample4">RenderMode Server (prerender:false) (NO)</a></li>
</ul>

